<div id="ingredient-{{id}}" class="form-group form-row">
  {{#if name}}
    <input type="hidden" name="recipe[ingredient_attributes][][id]" value="{{id}}">
  {{/if}}
  <input type="number" name="recipe[ingredient_attributes][][quantity]" class="ml-1 col-2 form-control form-control-sm" placeholder="Amount" min="0" value="{{quantity}}" required>
  <select name="recipe[ingredient_attributes][][unit]" class="unit ml-2 col-2 form-control form-control-sm" required>
    {{#selectAttribute unit}}
      <option value="">Unit..</option>
      <option disabled class="black font-weight-bold">Volume</option>
      <option value="cup">cup</option>
      <option value="tbsp">tbsp</option>
      <option value="tsp">tsp</option>
      <option value="fl oz">fl oz</option>
      <option value="mL">mL</option>
      <option disabled class="black font-weight-bold">Weight</option>
      <option value="oz">oz</option>
      <option value="mg">mg</option>
      <option value="g">g</option>
    {{/selectAttribute}}
  </select>
  <input type="text" name="recipe[ingredient_attributes][][name]" class="ml-2 col-3 form-control form-control-sm" placeholder="Name" value="{{name}}" required>
  <select name="recipe[ingredient_attributes][][state]" class="state ml-2 col-3 form-control form-control-sm" required>
    {{#selectAttribute state}}
      <option value="">State (opt)..</option>
      <option value="whole">Whole</option>
      <option value="chopped">Chopped</option>
      <option value="diced">Diced</option>
      <option value="minced">Minced</option>
      <option value="ground">Ground</option>
    {{/selectAttribute}}
  </select>
  <button id="remove-{{id}}" type='button' class='ml-3 close' data-id="{{id}}">&times;</button>
</div>
