{{#recipes}}
  <div id="recipe-{{id}}" class="result">
    <div class="image"></div>
    <div class="ml-3 small">
      <a href="#" class="recipeLink black h6" data-id="{{id}}">{{name}}</a><br>
      <a href="#" class="userLink" data-id="{{owner.id}}">{{owner.username}}</a>
    </div>
  </div>
{{/recipes}}
