<div id="recipe-{{id}}" data-id="{{id}}">
  <div class="row result">
    <div class="col">
      <div class="recipeTitle">
        <span class="mb-0 h5 mr-2">{{name}}</span>
        {{#ifLoggedIn}}
          <span id="social">
            <a href="" class="favorite">
              <img id="favoriteImg" src="/assets/icons/favorite-bw.png" alt="Favorite">
            </a>
              <a href="" class="share" data-toggle="shareDropdown" aria-haspopup="true" aria-expanded="false">
                <img id="shareImg" src="/assets/icons/share-bw.png" alt="Share">
              </a>
              <div id="shareDropdown" class="dropdown-menu" style="display:none;">
                <div class="shareRecipeWindow">
                  <div class="shareForm">
                  </div>
                </div>
              </div>
            {{#ifOwned owner.id}}
              <a href="" class="edit">
                <img id="editImg" src="/assets/icons/edit-bw.png" alt="Edit">
              </a>
            {{/ifOwned}}
          </span>
        {{/ifLoggedIn}}
      </div>
      <div id="recipeInfo" class="small">
        Cook Time: <span class="blue">{{cookTime}} min</span> |
        Prep Time: <span class="blue">{{prepTime}} min</span> |
        Difficulty: <span class="blue">{{skillLevel}}</span>
      </div>
    </div>
  </div>
  <div class="row result">
    {{#if imageUrl}}
      <img class="mx-auto" src="{{imageUrl}}" alt="">
    {{else}}
      <div class="image col-12">
      </div>
    {{/if}}
  </div>
  <div class="row">
    <div id="ingredients col-6">
      <div class="h6">
        Ingredients:
      </div>
      <ul id="ingredientList" class="">
        {{#each ingredients}}
          {{#with this}}
            <li>{{quantity}} {{unit}} {{name}}{{#if state}}, {{/if}} {{state}}</li>
          {{else}}
            <li></li>
          {{/with}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="directions col-12">
      <div class="h6">
        Directions:
      </div>
      <ol id="directionList">
        {{#each directions}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
    </div>
</div>
