<div id="recipe-{{id}}">
  <div class="row">
    <div class="col">
      <div class="recipeTitle">
        <h5 class="mb-0">{{name}}</h5>
      </div>
      <div id="social">
        <div>
          <a href="" id="favorite">
            <img id="favorite-{{id}}" src="" alt="Favorite">
          </a>
          <a href="" id="share">
            <img id="share-{{id}}" src="/assets/icons/share-bw.png" alt="Share">
          </a>
        </div>
      </div>
      <div class="small"><br>
        <p class="small">
          Cook Time: <span class="blue">{{cookTime}} min</span> |
          Prep Time: <span class="blue">{{prepTime}} min</span> |
          Difficulty: <span class="blue">{{skillLevel}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="image col-5">
    </div>
    <div class="col-1">
    </div>
    <div id="ingredients col-6">

      <ul id="ingredientList" class="small">
        {{#each ingredients}}
          {{#with this}}
            <li>{{quantity}} {{unit}} {{name}}, {{state}}</li>
          {{/with}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="directions col-12">
      <ol id="directionList">
        {{#each directions}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
    </div>
</div>
