{{#recipes}}
  <div class="resultDesc result" id="recipe-{{id}}">
    <div class="image"></div>
    <div class="ml-3 small">
      {{name}}<br>
      <a href="/users/{{user.id}}" id="user-{{user.id}}">{{user.username}}</a>
    </div>
  </div>
{{/recipes}}
