{{#recipes}}
  <div class="resultDesc result" id="recipe-{{id}}">
    <div class="image"></div>
    <div class="ml-3 small">
      <a href="#" id="recipie-{{id}}" class="recipeLink black h6" data-id="{{id}}">{{name}}</a><br>
      <a href="#" id="user-{{owner.id}}" class="userLink" data-id="{{owner.id}}">{{owner.username}}</a>
    </div>
  </div>
{{/recipes}}
