<!DOCTYPE html>
<html>
  <head>
    <title>EsculentMethods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="navRow" class="row">
        <div class="col-1">
        </div>
        <div id="navigation" class="col-10">
          <nav class="navbar navbar-light">
            <a id="esculentMethods" class="navbar-brand">EsculentMethods</a>
            <%= form_tag :search, id:"search", class:"form-inline my-2 my-lg-0 ml-auto" do %>
              <%= select_tag(:type, options_for_select([
                                              ["Recipes", ":r"],
                                              ["Ingredients", ":i"],
                                              ["Users", ":u"]], 1),
                                    class:"form-control form-control-sm mr-sm-2") %>
              <%= text_field_tag :query, "", class:"form-control form-control-sm mr-sm-2", placeholder:"Search", required:true %>
              <%= button_tag :Search, class:"btn btn-sm btn-outline-primary my-2 my-sm-0", id:"submitSearch" %>
            <% end %>
            <div id="dropdown" class="dropdown">
              <button class="navbar-toggler ml-3" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="dropdownMenu" class="dropdown-menu dropdown-menu-right">
              </div>
            </div>
          </nav>
        </div>
        <div class="col-1">
        </div>
      </div>
      <div id="contentRow" class="row">
        <div id="content" class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
